.login__input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  border-color: var(--color_card_background);
}

.button__text {
  background-color: var(--color_heading_button);
  color: var(--color_text_button);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

#rol {
  cursor: pointer;
}
.login__radio__group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.container_loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--color_card_background);
  border-radius: 10px;
  max-width: 50%;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.botones_crear_cuentas {
  display: flex;
  gap: 10px;
}
.weight_bold {
  font-weight: bold;
}
.login_label {
  margin-bottom: 10px;
}
.login__radio__label {
  color: var(--color_text);
}
