.perfil {
  display: flex;
  flex-direction: column;
  margin: 3% 5%;
  gap: 10px;
}
.perfil_header {
  display: flex;
  align-items: center;
  gap: 5%;
}
.perfil_header_img_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 2%;
}
.foto_perfil {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}
.info_perfil {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--color_card_background);
}
.container_name_availability {
  display: flex;
  gap: 50px;
}
.availability {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 16px;
}
.disponible {
  background-color: var(--color_success); /* Color verde para disponible */
  color: var(--color_background);
}
.no_disponible {
  background-color: #f44336; /* Color rojo para no disponible */
  color: white;
}
.btn_big {
  font-size: 20px;
}
.divider_perfil {
  border-top: 1px solid var(--color_text);
  margin: 0 10%;
  margin: 10px 0;
}
.resenas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
