/* src/pages/AcercaDe/AcercaDe.css */

.presentacion {
  /*background-color: #4A148C; /* Color de fondo */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar el texto */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.contenido h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffd700; /* Color del texto del título */
}

.contenido p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff; /* Color del texto */
}

.header {
  display: none;
}

.contenido {
  text-align: justify; /* Centrar el texto */
  background-color: var(
    --color_card_background
  ); /* Color de fondo de la sección de contenido */
  padding: 20px; /* Espaciado interno */
  margin-top: 50px;
}

.titulocont {
  text-align: center;
}

.contenido h2 {
  font-size: 2em; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
}

.contenido p {
  font-size: 1.2em; /* Tamaño del texto del párrafo */
  color: white; /* Color del texto del párrafo */
}

.slidercont {
  margin: 0;
  width: 750px;
  padding: px;
}

.slider {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.slider1,
.slider2 {
  margin: 0px;
  padding: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 750px;
  height: 750px;
}

ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: var(--color_background);
  transition: opacity 0.5s;
}

ul.slider li img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.slidermenu {
  text-align: center;
  margin: 0px;
}
.slidermenu li {
  display: inline-block;
  text-align: center;
}

.slidermenu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: var(--color_heading_button);
  padding: 10px;
  width: 50px;
  height: auto;
  font-size: 20px;
  border-radius: 100%;
  margin-right: 10px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .presentacion {
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    margin: 10px auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo {
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contenido h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .contenido p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contenido {
    text-align: left;
    padding: 10px;
    margin-top: 30px;
  }

  .titulocont {
    text-align: left;
  }

  .contenido h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .contenido p {
    font-size: 1em;
  }

  .slidercont {
    width: 100%;
    padding: 0;
  }

  ul.slider {
    width: 100%;
    height: 300px;
  }

  ul.slider li img {
    height: 80%;
  }

  .slidermenu li a {
    padding: 5px;
    width: 30px;
    height: auto;
    font-size: 16px;
    margin-right: 5px;
  }
}
